.login-form {
    max-width: 300px;
}
.login-form-button {
    width: 100%;
}
.login {
    width:300px;  
    height:400px;  
    position:absolute;  
    left:50%;  
    top:50%;  
    margin:-200px 0 0 -150px
}
.login-name {
    text-align: center;
    padding-bottom: 20px;
}