#file-tree{
    width:25%;
    height: 100%;
    float: left;
}
#root,#route,#app,#container,#content-body{
    height: 100%
}
#preview{
    width:75%;
    height: 100%;
    float: right;
    align: center
}